<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>NichoCode</title>
</head>
<body>
    <br>
    <div class="container">
    <h1><center><span class="border">__Nicho Code__</span><center></h1>
    <br>
    
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="aboutme">About Me</a>
        </li>
    </ul>
    <br>
        
     <div class="row">
         <div class="col-4-md">
        <img src="/static/images/anaconda.png">
        </div>
        <div class="col-4-md">
            <img src="/static/images/pypy.png">
        </div>
        <div class="col-4-md">
        <img src="/static/images/pandaC.png">
        </div>
     </div>
     <br>
    <center><p><h4>Programming requires resilience, and the willingness to learn.</h4></p></center>
    <br>
    <img src="">

    <center><p><h4>If coding was so simple everyone would do it! Be strong, be determined, and be passionate.</<h4></p></center>

    

</body>
<br>
<footer>
    <h6>&copy 2018 NichoCode</h6>
</footer>
</html>